{% extends "base.html" %}

{% block content %}

{% for year, articles in dates|groupby('date.year')|reverse %}
<div class="row" style="margin-bottom:40px;padding-left:120px;">

  <div class="col-xs-2">
    <h1>{{ year }}</h1>
  </div>

  <div class="col-xs-9 mt-10" style="padding-left:30px">
    <ul class="list-unstyled">
      {% for article in articles %}
      <li class="mt-10"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endfor %}

{% endblock %}
