<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Atom Feed">

  <link rel="manifest" href="/manifest.webmanifest">

  <link rel="openid.delegate" href="http://ghickman.myopenid.com/">
  <link rel="openid.server" href="http://www.myopenid.com/server">
  <link rel="openid2.local_id" href="http://ghickman.myopenid.com/">
  <link rel="openid2.provider" href="http://my.myopenid.com/server">

  <link rel="icon" href="/images/favicon.png" type="image/png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/theme/styles/main.css">

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=ghickman.myopenid.com">
  <meta name="author" content="George Hickman">
  <meta name="description" content="George Hickman is a Software Engineer currently living in Wales">
  <meta name="google-site-verification" content="HME0VcoccfLfgFuwOwPH-QrJgg2FiB5FmaM0mN9uy8E">
  <meta name="keywords" content="george hickman, george, hickman, python, travelling, coding, software, development">
  <meta name="robots" content="ALL">
  <meta name="theme-color" content="#fff">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <nav>
    <div class="container">
      <div class="row">

        <div class="col-xs-offset-1 col-xs-1">
          <a href="/" class="header">ghickman.co.uk</a>
        </div>

        <ul class="col-xs-offset-5 col-xs-4 text-right list-inline">
          <li><a href="/archives.html">Archives</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 mt-10">{% block content %}{% endblock %}</div>
    </div>

    <footer>
      <div class="row">

        <div class="col-xs-offset-1 col-xs-7">Copyright © 2016 George Hickman, All Rights Reserved</div>
        <div class="col-xs-3 text-right">Powered by <a href="http://getpelican.com" title="Pelican">Pelican</a></div>

      </div>
    </footer>
  </div>

  {% include "analytics.html" %}
</body>
</html>
