/** GENERIC SECTIONS */
.left {float:left;}
.right {float:right;}
.clr {clear:both; height:1px; font-size:1px; line-height:1px;}
.no_margin_top{margin-top:0;}
.no_margin_right{margin-right:0;}
.no_margin_bottom{margin-bottom:0;}
.no_margin_left{margin-left:0;}

.wrapper {
  width: 999px;
  margin: 0 auto;
}

body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e6911b;
}

h1, h2, h3, h4 {
  color: #69C;
  margin: 10px 0 1px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h1 a {
  color: #e6911b;
}

p {
  margin: 10px 0;
  line-height: 1.4em;
}

p, li, .feedback {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
/*---------------------------------------------------------------------------**/


/** HEADER */
#header {
  background: url('/images/header.png') repeat-x center center;
  height: 200px;
  margin: 0;
}

#logo img{
  float: right;
  margin: 60px 60px 0 0;
}

#header a {
  text-decoration: none;
}
/*---------------------------------------------------------------------------**/


/** MENU */
#menu {
  height: 40px;
  background: #232323;
}

#menu_bar {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 7px 0 0;
}

#menu_bar li {
  display: inline;
  margin-left: 200px;
}

#menu_bar li a {
  color: #e6791b;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 17px;
  display: block;
}

.menu_left, .menu_right {
  height: 60px;
}

.menu_left, .menu_middle, .menu_right {
  float: left;
  height: 60px;
  margin-top: -17px;
}

.menu_middle {
  background: url('/images/menu_middle.png') center repeat-x;
}

.menu_left {
  background: url('/images/menu_left.png') no-repeat top left;
  width: 25px;
  margin-left: 20px;
}

.menu_right {
  background: url('/images/menu_right.png') no-repeat top right;
  width: 27px;
}
/*---------------------------------------------------------------------------**/


/** SEARCH */
#search {
  display: inline-block;
  margin: 10px 20px 0;
}

#search input#q {
  background: url('/images/search.png') no-repeat left center;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  padding: 3px 5px 2px 20px;
}
/*---------------------------------------------------------------------------**/


/** SIDEBAR */
#sidebar {
  float: right;
  width: 200px;
  padding: 0 20px 0 0;
}

.sidebar_title h3 {
  text-align: center;
  color: #fff;
  height: 40px;
  padding: 5px 0 0;
  margin: 0;
}

.sidebar_title, .sidebar_content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  -moz-box-shadow: 5px 5px 5px #888;
  -webkit-box-shadow: 5px 5px 5px #888;
}

.sidebar_title {
  background: url('/images/footer.png');
  height: 35px;
  margin: 20px 0 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  border-top: 1px solid black;
}

.sidebar_content {
  background-color: #e6e6e6;
  padding: 5px 0 10px 10px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom: 1px solid black;
}

.sidebar_content li {
  list-style: none;
  padding: 5px 0 3px 25px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
}

.inner {
  margin: 0 0 0 20px;
}

.hidden {
  border-bottom: 1px solid black;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
}

.sidebar_content.categories a, .sidebar_content.archives a {
  padding: 2px 0 2px;
}

.sidebar_content.categories li {
  background: url('/images/sidebar/tag.png') no-repeat top left;
}

.sidebar_content.archives li {
  background: url('/images/sidebar/archive.png') no-repeat top left;
}

.sidebar_content.blogroll li {
  background: url('/images/sidebar/http-icon.png') no-repeat top left;
}

.linkroll li {
  float: left;
  padding-left: 7px;
}

.linkroll li img {
  width: 48px;
}
/*---------------------------------------------------------------------------**/


/** CONTENT */
#content {
  float: left;
  margin-top: 10px;
  padding: 0 20px;
  width: 730px;
}

.post {
  margin-bottom: 20px;
}

.post ul {
  padding: 0 0 10px 25px;
}
/*---------------------------------------------------------------------------**/


/** POSTS */
.title {
  background: url('/images/title.png') repeat-x center;
  border: 1px black solid;
  margin: 10px 0 10px;
  padding: 5px 10px;
}

.title h1 {
  margin-top: 0;
}

.body {
  padding: 0 10px;
}

/** Photos */
div.photo {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}

p.photo {
  margin: 3px 3px 1px 5px;
}

.photo a {
  display: inline-block;
  vertical-align: baseline;
}

img.cc {
  line-height: 1.5em;
  display: inline;
  vertical-align: baseline;
}
/*-----**/

/** info */
.info {
  color: #B3B3B2;
  font-size: 10px;
  margin: 0px 0 3px;
}

.info p {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

ul.post_tags {
  margin-top: 3px;
  padding: 0;
}

.post_tags li.first {
  margin: 0;
}

.post_tags li {
  display: inline;
  font-size: 13px;
  list-style: none;
  margin: 0 10px 0 0;
}

.post_tags li a {
  background: url('/images/tag_blue.png') no-repeat center left;
  color: #e6aa1b;
  margin-left: 2px;
  padding: 1px 0 0 18px;
  text-decoration: none;
}

.post_tags li img {
  margin: 0 0 -3px;
}
/*-----**/

/** Code */
code, pre {
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 12px;
}

pre {
  background: #333;
  border-radius: 2px;
  color: #efefef;
  margin: 3px 0 5px;
  overflow: auto;
  padding: 3px 5px;
}

code {
  background-color: ghostWhite;
  border: 1px solid #dedede;
  color: #444;
  padding: 0 0.2em;
}

/* Gists */
.line {
  display: block;
}

.gist-meta {
  font-size: 12px;
}
/*-----**/
/*---------------------------------------------------------------------------**/


/** PORTFOLIO */
#portfolio {
  padding: 10px 20px 0;
}

.project {
  margin: 30px 0 0;
}

.project ul {
/*  margin: 0 0 10px 25px;*/
/*  float: right;*/
}

img.right {
  margin: 0 0 0 15px;
}

img.left {
  margin: 0 15px 0 0;
}
/*--------------------------------------------------------------------------**/


/** ABOUT */
#pic {
  clear: right;
  margin-top: 20px;
}

#pic h1 {
  display: inline;
}

#pic img {
  float: right;
}

#me {
  margin: 0 20px;
}

#django {
  margin: 20px auto;
  width: 250px;
}

#django p {
  font-weight: bold;
}
/*--------------------------------------------------------------------------**/


/** CONTACT */
#info {
  margin: 20px 0 0 30px;
  padding: 20px 0 0;
  width: 400px;
}

#contact {
  float: right;
  width: 600px;
}

#contact form {
  margin: 0 20px 0;
}

.input {
  float: right;
  margin: 20px 0 0;
}

#contact label {
  color: black;
  float: left;
  font-size: 18px;
  margin-top: 5px;
  padding: 0 10px 0;
  text-align: right;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  border: 2px solid #4f4f4f;
  font-size: 18px;
  padding: 3px;
  width: 400px;
}

#contact input[type="submit"] {
  float: right;
  margin: 10px 0 0;
  width: auto;
}

#contact label:after {
  color: red;
  content: '*';
  display: inline;
}

/** errors */
.error {
  float: right;
  margin: 0;
  padding: 0 5px;
  width: 400px;
}

input.error,
textarea.error {
  border: 2px solid red;
}

div.error {
  color: red;
  float: right;
  margin: 2px 5px;
}

div.error p {
  margin: 0;
  padding: 2px 3px;
  text-align: center;
}
/*--------------**/
/*--------------------------------------------------------------------------**/


/** COMMENTS */
.comment {
  margin: 15px 0 0 0;
  padding: 3px 0 3px 3px;
}

.comment p {
  margin: 3px 0;
}

.even {
  background: #C6DEFF;
}

#postcomment {
  margin: 10px 0 0 0;
}

#commentform #submit {
  float: right;
  border: 2px outset buttonface;
}

#commentform #author, #commentform #email, #commentform #url, #commentform textarea {
  padding: .2em;
}

#commentform input, #commentform textarea {
  border: 2px solid #BFBFBF;
}

#commentform input:focus, #commentform textarea:focus {
  border: 2px solid #4f4f4f;
}

#commentform textarea {
  width: 100%;
}

#commentlist {
  list-style-type: none;
}

#commentlist li ul {
  border-left: 1px solid #ddd;
  font-size: 110%;
  list-style-type: none;
}

#commentlist li .avatar {
  float: right;
  margin-right: 25px;
  border: 1px dotted #ccc;
  padding: 2px;
}
/*---------------------------------------------------------------------------**/


/** FOOTER */
#footer {
  background: url('/images/footer.png') repeat-x center center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  height: 60px;
  margin: 20px 0 0 0;
}

#jekyll, #copyright, #contact_link {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 24px 0 0;
}

#jekyll {
  padding-left: 20px;
}

#copyright {
  padding-left: 200px;
}

#contact_link {
  padding-right: 10px;
}

#feed {
  padding: 15px 40px 0 0;
}
/*---------------------------------------------------------------------------**/
