/*
 * Main element rules
 */
body {
  background: #0C0C0C;
  color: #E6E1DC;
  font-family: 'Lucida Grande', Helvetica, Arial, "Bitstream Vera Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

a {
  color: #BF862C;
  text-decoration: underline;
  font-weight: bold;
}
a:hover { color: #FFAF32; }
a:focus { outline: 1px dotted; }
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

ol { list-style: decimal; }

ul { list-style: disc; }

li {
  margin: 0 0 5px 30px;
  line-height: 1.5em;
}

strong {
  color: #FFFFFF;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul {
  margin-bottom: 10px;
}

pre, table, address, fieldset {
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
  line-height: 1.5em;
}
p.top_pad { margin-top: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #1E96C3;
  font-family: Verdana, serif;
  font-weight: normal;
}
h1 { font-size: 2.3em; }
h2 { 
  font-size: 1.5em;
  margin: 10px 0 5px 0;
}
h3 {
  font-size: 1.2em;
  margin: 10px 0 5px 0;
}

.left { float: left; }
.right { float: right; }
.pad { margin: 10px; }
.pad_left { margin-left: 10px; }
.pad_right { margin-right: 10px; }
.pad_top { margin-top: 10px; }
.pad_bottom { margin-bottom: 10px; }
.no_pad_top { padding-top: 0 !important; }
.no_pad_bottom { padding-top: 0 !important; }
.no_pad_left { padding-top: 0 !important; }
.no_pad_right { padding-top: 0 !important; }
.no_margin_top { margin-top: 0 !important; }
.no_margin_bottom { margin-top: 0 !important; }
.no_margin_left { margin-top: 0 !important; }
.no_margin_right { margin-top: 0 !important; }

/*
 * Layout rules
 */
#header {
  background: transparent url(/images/darkness/menu_background.png) repeat 0 0;
  border-bottom: 1px solid #2E3546;
  display: block;
  height: 75px;
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
  #logo {
    padding: 20px 0;
  }
  #search form {
    background: url(/images/darkness/search_bg.png) no-repeat left top;
    height: 28px;
    padding: 3px 0px 0px;
    margin: 10px 0 0 0;
    width: 218px;
}
  #search form input#q {
    background: none;
    border: 0;
    color: #CCC;
    font-size: 15px;
    margin-left: 35px;
    width: 165px;
  }
  #feeds {
    float: right;
    margin: 3px 10px 0 0;
  }
  #feeds img {
    vertical-align: middle;
  }
  #feeds a {
    color: #FFFFFF;
    text-decoration: none;
  }
  #feeds a:hover { color: #FFAF32; }

.box, .big_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: transparent url(/images/darkness/box_content_background.png) repeat 0 0;
  border: 1px solid #444545;
}


#container, #container_404 {
  background: #0C0C0C url(/images/darkness/background.jpg) no-repeat top center;
  background-attachment: fixed;
  width: 100%;
  overflow: hidden;
}
#container_404 {
  background: none;
}

#content {
  margin: 110px auto 30px auto;
  overflow: hidden;
}

.big_box {
    margin: 20px 0;
    text-align: justify;
}
  #main .big_box:first-child { margin-top: 0; }
  /* We need to change the inner margins down a pixel for stuff inside content
   * to allow for our 1px border.
   */
  .big_box .alpha { margin-right: 9px; }
  .big_box .omega { margin-left: 9px; }

  #main p, #container #main h1, #container #main h2, #main h3, #main ul,
  #main ol {
    padding: 0 10px;
  }

#archive_box, #category_box { padding: 10px 0 20px 0; }
#archive_box h1, #category_box h1 { color: #FFAF32; }

#sidebar {}
  #sidebar .box {
    margin: 15px 0;
    padding: 0 10px;
    overflow: hidden;
  }
  #sidebar .box:first-child { margin-top: 0; }
  #sidebar .box h3 {
    text-align: right;
    padding: 0;
    margin: 5px 0 10px 0;
  }
  #sidebar #about_me p {
    text-align: right;
  }
  /* Lets have some fancy sidebar lists! :D */
  #sidebar .list_only {
    padding: 0;
    overflow: hidden;
  }
  #sidebar .list_only h3 { padding: 0 10px; }
  #sidebar ul {
    list-style: none; margin:0;
  }
  #sidebar ul li {
    border-bottom: 1px solid #000000;
    height: 21px;
    line-height: 21px;
    list-style: none;
    margin: 0 0 1px 0;
    padding: 0;
  }
  #sidebar ul li a {
    background: #19191A;
    color: #4B95B1;
    display: block;
    font-weight: normal;
    padding-left: 30px;
    text-decoration: none;
  }
  #sidebar ul li a:hover {
    background-color: #111212;
    color: #FFFFFF;
  }
  #sidebar ul li:last-child { border: 0; }
  #sidebar ul li:last-child a {
      -webkit-border-bottom-right-radius: 6px;
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-radius-bottomright: 6px;
      -moz-border-radius-bottomleft: 6px;
  }
  /* Indavidual sidebar rules */
  #sidebar #categories ul li a {
    background-image: url(/images/darkness/folder.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
  }
  #sidebar #archives ul li a {
    background-image: url(/images/darkness/date_small.png);
    background-repeat: no-repeat;
    background-position: 6px 3px;
  }
  #sidebar #archives ul li a span { color: #CCC; }
  #sidebar #categories h3, #sidebar #archives h3 { margin-bottom: 5px; }
  #sidebar #flickr { text-align: center; }
  #sidebar #flickr .flickr_photos { margin: 10px 0; }
  #sidebar #flickr h3 span.r { color: #F80081; }
  #sidebar #twitter .intro { text-align: left; }
  #sidebar #twitter .tweet span { color: #EAD229; }

#footer #footer_info {
  padding: 0 0 20px 0;
}

#not_found_info { margin: 20px 0 0 0; }
#not_found_info h2 { color: #D15144; }

/*
 * Blog article rules
 */
.article {
  padding: 20px 0 0 0;
  overflow: hidden;
}
#older_articles .article {
  padding: 30px 0 0 0;
}
#older_articles .article:first-child {
  padding-top: 20px;
}
#older_articles .article:last-child {
  margin-bottom: 20px;
}
.article h1.title, .article h2.title {
  color: #23C3FF;
  font-size: 1.8em;
  line-height: 25px;
  margin: 0 0 1px 0;
  text-align: left;
  text-shadow: #2F3742 -1px 2px 1px;
}
.article h1.title a, .article h2.title a {
  color: #23C3FF;
  font-weight: normal;
  font-family: Verdana, Arial;
  text-decoration: none;
  text-align: left;
}
.article h1.title a:hover, .article h2.title a:hover { color: #FFAF32; }
.article .full_date {
  color: #6D6D6D;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0 10px;
}
.article .short_date {
  background: url(/images/darkness/big_calendar.png) no-repeat;
  color: #000;
  float: right;
  font-family: Arial;
  font-size: 12px;
  height: 48px;
  margin: 0 10px 0 0;
  position: relative;
  width: 48px;
}
.article .short_date .month {
  display: block;
  font-size: 10px;
  line-height: 11px;
  margin-top: 15px;
  text-align: center;
}
.article .short_date .day {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.article .body {
  margin-top: 15px;
}
.article .info {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  background: #111212 url(../../images/darkness/box_content_background.png) repeat 0 0;
  border-top: 1px solid #252525;
  padding: 10px;
}
.article .info a { color: #427D93; }
.article .info a:hover { color: #FFAF32; }
.article .categories {
  background: url(/images/darkness/folder.png) no-repeat 0 -1px;
  margin: 5px 0 0 0;
  padding: 0 0 0 22px;
}
.article .categories a {
  color: #AAB7BC;
  font-weight: normal;
  text-decoration: none;
}
.article .categories a:hover { color: #FFAF32; }

.article ul li {
  line-height: 1em;
}

#comments { padding: 10px; }

.figure {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  zoom: 1;
}
  .figure img { display: block; }
  .figure img.cc {
    display: inline;
    line-height: 1.5em;
    vertical-align: middle;
  }
  .figure p {
    font-weight: normal;
    font-size: 0.9em;
    margin: 5px 0 0 0;
    padding: 0 !important;
  }
  
pre {
  background: #232323;
  border-bottom: 1px solid #444545;
  border-top: 1px solid #444545;
  font-family: Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-style: italic;
  margin: 0 0 5px 0;
  padding: 10px;
  outline: 0px;
  overflow: auto;
  overflow-y: hidden;
  vertical-align: baseline;
}

/*
 * Github gist's style override.
 */
.gist {
 color: #E6E1DC;
}
.line {
 display: block;
}

 .gist div {
   padding: 0;
   margin: 0;
 }

 .gist .gist-file {
   font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
   margin-bottom: 1em;
   border-top: 1px solid #444545;
   border-bottom: 1px solid #444545;
 }

   .gist .gist-file .gist-meta {
     overflow: hidden;
     font-size: 85%;
     padding: .5em;
     color: #E6E1DC;
     background: #141414;

   }

     .gist .gist-file .gist-meta a {
       color: #CCC;
       text-decoration: underline;
       font-weight: normal;
     }
     .gist .gist-file .gist-meta a:hover {
       color: #FFAF32;
     }

   .gist .gist-file .gist-data {
     overflow: auto;
     word-wrap: normal;
     font-size: 100%;
   }

     .gist .gist-file .gist-data pre {
       font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
       background: transparent !important;
       margin: 0 !important;
       border: none !important;
       padding: .25em .5em .5em .5em !important;
     }

       .gist .gist-file .gist-data .gist-highlight {
         background: transparent !important;
       }

       .gist .gist-file .gist-data .gist-line-numbers {
         background-color: #ececec;
         color: #aaa;
         border-right: 1px solid #ddd;
         text-align: right;
       }

         .gist .gist-file .gist-data .gist-line-numbers span {
           clear: right;
           display: block;
         }

.gist-syntax  { background: #232323; }
.gist-syntax .c { color: #BC9458; font-style: italic } /* Comment */
.gist-syntax .err { color: #FFFFFF; background-color: #990000 } /* Error */
.gist-syntax .k { color: #CC7833;  } /* Keyword */
.gist-syntax .o { font-weight: bold } /* Operator */
.gist-syntax .cm { color: #BC9458; font-style: italic } /* Comment.Multiline */
.gist-syntax .cp { color: #BC9458; font-weight: bold } /* Comment.Preproc */
.gist-syntax .c1 { color: #BC9458; font-style: italic } /* Comment.Single */
.gist-syntax .cs { color: #BC9458; font-weight: bold; font-style: italic } /* Comment.Special */
.gist-syntax .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.gist-syntax .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.gist-syntax .ge { color: #000000; font-style: italic } /* Generic.Emph */
.gist-syntax .gr { color: #aa0000 } /* Generic.Error */
.gist-syntax .gh { color: #999999 } /* Generic.Heading */
.gist-syntax .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.gist-syntax .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.gist-syntax .go { color: #888888 } /* Generic.Output */
.gist-syntax .gp { color: #555555 } /* Generic.Prompt */
.gist-syntax .gs { font-weight: bold } /* Generic.Strong */
.gist-syntax .gu { color: #aaaaaa } /* Generic.Subheading */
.gist-syntax .gt { color: #aa0000 } /* Generic.Traceback */
.gist-syntax .kc { color: #CC7633; font-weight: bold } /* Keyword.Constant */
.gist-syntax .kd { color: #CC7633; font-weight: bold } /* Keyword.Declaration */
.gist-syntax .kp { color: #CC7633; font-weight: bold } /* Keyword.Pseudo */
.gist-syntax .kr { color: #CC7633; font-weight: bold } /* Keyword.Reserved */
.gist-syntax .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.gist-syntax .m { color: #A5C261 } /* Literal.Number */
.gist-syntax .s { color: #A5C261 } /* Literal.String */
.gist-syntax .na { color: #008080 } /* Name.Attribute */
.gist-syntax .nb { color: #CC7633 } /* Name.Builtin */
.gist-syntax .nc { color: #445588; font-weight: bold } /* Name.Class */
.gist-syntax .no { color: #C94939 } /* Name.Constant */
.gist-syntax .ni { color: #800080 } /* Name.Entity */
.gist-syntax .ne { color: #FFC66D; font-weight: bold } /* Name.Exception */
.gist-syntax .nf { color: #FFC66D; font-weight: bold } /* Name.Function */
.gist-syntax .nn { color: #555555 } /* Name.Namespace */
.gist-syntax .nt { color: #000080 } /* Name.Tag */
.gist-syntax .nv { color: #D0D0FF } /* Name.Variable */
.gist-syntax .ow { color: #000000; font-weight: bold } /* Operator.Word */
.gist-syntax .w { color: #bbbbbb } /* Text.Whitespace */
.gist-syntax .mf { color: #A5C261 } /* Literal.Number.Float */
.gist-syntax .mh { color: #A5C261 } /* Literal.Number.Hex */
.gist-syntax .mi { color: #A5C261 } /* Literal.Number.Integer */
.gist-syntax .mo { color: #A5C261 } /* Literal.Number.Oct */
.gist-syntax .sb { color: #A5C261 } /* Literal.String.Backtick */
.gist-syntax .sc { color: #A5C261 } /* Literal.String.Char */
.gist-syntax .sd { color: #A5C261 } /* Literal.String.Doc */
.gist-syntax .s2 { color: #A5C261 } /* Literal.String.Double */
.gist-syntax .se { color: #A5C261 } /* Literal.String.Escape */
.gist-syntax .sh { color: #A5C261 } /* Literal.String.Heredoc */
.gist-syntax .si { color: #A5C261 } /* Literal.String.Interpol */
.gist-syntax .sx { color: #A5C261 } /* Literal.String.Other */
.gist-syntax .sr { color: #A5C261 } /* Literal.String.Regex */
.gist-syntax .s1 { color: #A5C261 } /* Literal.String.Single */
.gist-syntax .ss { color: #990073 } /* Literal.String.Symbol */
.gist-syntax .bp { color: #D0D0FF } /* Name.Builtin.Pseudo */
.gist-syntax .vc { color: #D0D0FF } /* Name.Variable.Class */
.gist-syntax .vg { color: #D0D0FF } /* Name.Variable.Global */
.gist-syntax .vi { color: #D0D0FF } /* Name.Variable.Instance */
.gist-syntax .il { color: #009999 } /* Literal.Number.Integer.Long */