/** GENERIC SECTIONS */
.left {float:left;}
.center {display:block;margin:0 auto;}
.right {float:right;}
.clr {clear:both; height:1px; font-size:1px; line-height:1px;}
.no_margin_top{margin-top:0;}
.no_margin_right{margin-right:0;}
.no_margin_bottom{margin-bottom:0;}
.no_margin_left{margin-left:0;}

.mt-10 {
  margin-top: 10px;
}

html {
    font-size: 100%;
  }

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  width: 999px;
}

body {
  color: #515151;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #777;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #515151;
  font-weight: 600;
  margin: 10px 0 1px;
}

h1 {
  font-size: 2rem;
}
h1 a {
  color: #515151;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
    width: 100%;
}

p {
  margin: 0 0 20px;
  line-height: 1.8rem;
}
p a {
  border-bottom: 2px solid #515151;
  color: #515151;
}

blockquote {
    color: #666;
    border-left: 2px solid #999;
    padding-left: 10px;
    -webkit-margin-start: 20px;
}

p, li, .feedback {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}
/*---------------------------------------------------------------------------**/


/** HEADER */
#mast-head {
  background-color: #f2f3f3;
  border-top: 9px solid #323232;
  height: 50px;
  width: 100%;
}
#mast-head .wrapper > a {
  color: #515151;
}
#mast-head .wrapper > a:hover {
  border-bottom: none;
}
#mast-head li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}
#mast-head a {
  line-height: 50px;
}
#mast-head a:hover {
  border-bottom: 2px solid #323232;
}
/*---------------------------------------------------------------------------**/


/** CONTENT */
#content {
  margin-top: 10px;
}

article {
  margin-bottom: 40px;
}

.paginator {
    text-align: center;
}
/*---------------------------------------------------------------------------**/


/** POSTS */
article header h1 {
  margin-top: 0;
}

article h2,
article h3 {
    margin-top: 20px;
}

/** Photos */
div.photo {
  border: 1px solid black;
  padding: 3px;
  margin: 3px;
}

div.photo.left {
  margin-right: 15px;
}

p.photo {
  margin: 3px 3px 1px 5px;
}

.photo a {
  display: inline-block;
  vertical-align: baseline;
}

img.cc {
  line-height: 1.5em;
  display: inline;
  vertical-align: baseline;
}
/*-----**/

/** info */
.info {
  color: #B3B3B2;
  font-size: .9rem;
  margin-bottom: 15px;
}

.info p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.post-tags ul {
  display: inline-block;
  margin-top: 3px;
}

.post-tags li {
  display: inline;
  font-size: inherit;
  list-style: none;
  margin: 0 10px 0 0;
}

.post-tags li a {
  background: url('/theme/images/tag.png') no-repeat center left;
  margin-left: 2px;
  padding: 1px 0 0 18px;
}

.post-tags li img {
  margin: 0 0 -3px;
}
/*-----**/

/** Code */
code, pre {
  font-family: Monaco, 'Courier New', monospace;
}

pre {
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: .8rem;
  margin: 3px 0 5px;
  overflow: auto;
  padding: 3px 5px;
}

code {
  background-color: ghostWhite;
  border: 1px solid #dedede;
  color: #444;
  font-size: .9rem;
  padding: 0 0.2em;
}
/*-----**/

/** Twitter Embeds */
iframe.twitter-tweet {
    margin: 30px auto !important;
}
/*-----**/
/*---------------------------------------------------------------------------**/


/** Archives */
.row:after {
  clear: both;
  display: table;
  content: " ";
}
/*---------------------------------------------------------------------------**/


/** FOOTER */
footer {
  height: 60px;
  margin: 20px 0 0 0;
}

#pelican, #copyright, #contact-link {
  font-size: .8rem;
  padding: 24px 0 0;
}

#pelican {
  padding-left: 20px;
}

#copyright {
  padding-left: 200px;
}

#contact-link {
  padding-right: 10px;
}

#feed {
  padding: 15px 40px 0 0;
}
/*---------------------------------------------------------------------------**/
