/** GENERIC SECTIONS */
.left {float:left;}
.center {display:block;margin:0 auto;}
.right {float:right;}
.clr {clear:both; height:1px; font-size:1px; line-height:1px;}
.no_margin_top{margin-top:0;}
.no_margin_right{margin-right:0;}
.no_margin_bottom{margin-bottom:0;}
.no_margin_left{margin-left:0;}

.mt-5  { margin-top: 5px; }
.mt-10 { margin-top: 10px; }

html {
  font-size: 100%;
}

body {
  color: #515151;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

a {
  color: #777;
  padding-bottom: 2px;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px solid #515151;
  color: #515151;
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: #515151;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}
h1 a {
  color: #515151;
}
h1 a:hover {
  border-bottom: none;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

img {
    width: 100%;
}

p {
  margin: 0 0 20px;
  line-height: 1.8rem;
}
p a {
  border-bottom: 2px solid #515151;
  color: #515151;
  text-decoration: none;
}

blockquote {
    color: #666;
    border-left: 2px solid #999;
    padding-left: 10px;
    -webkit-margin-start: 20px;
}

p, li, .feedback {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
/*---------------------------------------------------------------------------**/


/** HEADER */
nav {
  background-color: #f2f3f3;
  border-top: 9px solid #323232;
  height: 59px;
  font-size: 1rem;
}
nav .header {
  color: #4078c0;
  font-size:1.5rem;
}
nav .header:hover {
  border-bottom: none;
}
nav ul {
  margin-bottom: 0;
}
nav li {
  margin: 0 10px;
}
nav a {
  line-height: 50px;
}
/*---------------------------------------------------------------------------**/


/** CONTENT */
article {
  margin-bottom: 40px;
}
.paginator {
    text-align: center;
}
/*---------------------------------------------------------------------------**/


/** POSTS */
/** Photos */
div.photo {
  padding: 3px;
  margin: 3px;
}

p.photo {
  margin: 3px 3px 1px 5px;
}
/*-----**/

/** info */
.info {
  color: #B3B3B2;
  font-size: .9rem;
  margin-bottom: 5px;
}
.info p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.info ul {
  display: inline-block;
  margin: 0;
}
.info li {
  font-size: inherit;
}
/*-----**/

/** Code */
.highlight {
  margin-bottom: 20px;
}

code, pre {
  font-family: Monaco, 'Courier New', monospace;
}

pre {
  background: #333;
  border-radius: 2px;
  color: #fff;
  font-size: .8rem;
  margin: 3px 0 5px;
  overflow: auto;
  padding: 3px 5px;
}

code {
  background-color: ghostWhite;
  border: 1px solid #dedede;
  color: #444;
  font-size: .9rem;
  padding: 0 0.2em;
}
/*-----**/

/** Twitter Embeds */
iframe.twitter-tweet {
    margin: 30px auto !important;
}
/*-----**/
/*---------------------------------------------------------------------------**/


/** FOOTER */
footer {
  height: 60px;
}
footer > div {
  font-size: .8rem;
  line-height: 24px;
  padding-top: 24px;
}
/*---------------------------------------------------------------------------**/

/** WASGIJ */
.puzzle {
  position: relative;
}
.puzzle h4 {
  margin: 20px 0 10px;
}
.puzzle .number {
  background-color: #4078c0;
  border-radius: 100%;
  bottom: 20px;
  color: white;
  padding: 10px;
  position: absolute;
  right: 20px;
  width: 42px;
}
/*--------------------------------------------------------------------------**/
