---
layout: default
post_page: true
---
<div class="post">
    <div class="title">
        <h1 id="post_title">{{ page.title }}</h1>
        <div class="info">
            <p>Posted on: {{ page.date | date: '%b %d %Y' }}</p>
            <ul class="post_tags">
                <li class="first">Tagged as: </li>
                {% for tag in page.categories %}
                    <li><a href="/category/{{ tag }}">{{ tag | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ content }}
</div>