#footer
  .wrapper
    #jekyll.left
      Powered by 
      %a{:href=>"http://github.com/richguk/jekyll", :title=>"Jekyll"} Jekyll
    #copyright.left Copyright &copy; 2010 George Hickman, All Rights Reserved
    #feed.right
      %a{:href=>"http://feeds.feedburner.com/ghickman", :title=>"Ghickman.co.uk's Feed"}
        %img{:src=>"/images/feed.png", :alt=>"RSS Feed"}
    #contact_link.right
      %a{:href=>"http://localhost:4567/contact", :title=>"Contact Me"} Contact