<!DOCTYPE html>
%html
  %head
    %meta{:"http-equiv" => "Content-type", :content => "text/html; charset=utf-8"}
    
    %title GHickman.co.uk
    
    %link{:rel =>'shortcut icon', :href=>'/favicon.ico', :type=>'image/x-icon'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/master.css'}
    %script{:type=>'text/javascript', :src=>'/javascript/jquery.js'}
    %script{:type=>'text/javascript', :src=>'/javascript/sidebar.js'}

  %body
    #header
      #logo.wrapper
        %a{:href=>'/', :title=>'Home'}
          %img{:src=>'/images/logo.png', :alt=>'GHickman.co.uk Logo'}

    #menu
      .wrapper
        %ul#menu_bar
          %li
            .menu_left
            .menu_middle
              %a{:href=>'/', :title=>'Home'} blog
            .menu_right
          %li
            .menu_left
            .menu_middle
              %a{:href=>'/portfolio.html', :title=>'Portfolio'} portfolio
            .menu_right
          / %li
          /   .menu_left
          /   .menu_middle
          /     %a{:href=>'/about.html', :title=>'About'} about
          /   .menu_right
        #search.right
          %form{:action => "http://www.google.com/cse", :id => "cse-search-box"}
            %div
              %input{:name => "cx", :type => "hidden", :value => "014764111418219505516:jgaqcppfmqi"}
              %input{:name => "ie", :type => "hidden", :value => "UTF-8"}
              %input{:name => "q", :id => "q", :type => "text", :size => "26"}