{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>Contact Me</h1>
  </div>
</div>

<div class="row">

  <div class="col-xs-8 mt-10">
    <p>
      My email address is <code>george [at] ghickman [dot] co [dot] uk</code>.
    </p>

    <p>
      Typically I go by <code>ghickman</code> around the internets and look
      something like that &rarr;
    </p>

    <p>
      You can frequently find me at these places:
    </p>
    <ul>
      <li><a href="https://github.com/ghickman">GitHub</a></li>
      <li><a href="https://twitter.com/ghickman">Twitter</a></li>
      <li><a href="https://stackoverflow.com/users/158304/ghickman">Stack Overflow</a></li>
      <li><a href="https://freenode.net">Freenode</a></li>
    </ul>
  </div>

  <div class="col-xs-4">
    <img src="/theme/images/me.jpg" style="width:170px;border-radius:100%;" />
  </div>

</div>

<hr />

<div class="row">

  <div class="col-xs-12">
    <p>
      If you'd prefer to communicate with me securely then you can import my
      public key from the following places:
    </p>

    <ul>
      <li><a href="/093B01FD.asc">this domain</a></li>
      <li><a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xEEC67845093B01FD">MIT</a></li>
    </ul>
  </div>

</div>

{% endblock content %}
