{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>Wasgijs</h1>

    <p>
      I love me a good jigsaw and Wasgijs are far and away my favourite style.
      Below are listed the Wasjigs I've done so far:
    </p>
  </div>
</div>

<div class="row">

  <div class="col-xs-6 mt-10">
    <h2 class="text-center mb-10">Original</h2>

    <ul class="list-unstyled mt-10">
      <li class="puzzle">
        <h4>Fishy Business</h4>

        <a href="http://www.wasgij.co.uk/collections/original/fishy-buisness">
          <img src="http://www.wasgij.co.uk/images/uploads/puzzles/Original_20_Collections_Main.jpg" />
        </a>
        <span class="number text-center">20</span>
      </li>

      <li class="puzzle">
        <h4>Home Improvements</h4>

        <a href="http://www.wasgij.co.uk/collections/original/home-improvements">
          <img src="http://www.wasgij.com/images/uploads/puzzles/9_Home_Improvements.jpg" />
        </a>
        <span class="number text-center">09</span>
      </li>

      <li class="puzzle">
        <h4>Hight Tide</h4>

        <a href="http://www.wasgij.co.uk/collections/original/original-8">
          <img src="http://www.wasgij.com/images/uploads/puzzles/8_High_Tide.jpg" />
        </a>
        <span class="number text-center">08</span>
      </li>

      <li class="puzzle">
        <h4>Bear Necessities</h4>

        <a href="http://www.wasgij.co.uk/collections/original/original-7">
          <img src="http://www.wasgij.com/images/uploads/puzzles/7_Bear_Necessities.jpg" />
        </a>
        <span class="number text-center">07</span>
      </li>
    </ul>

  </div>

  <div class="col-xs-6 mt-10">
    <h2 class="text-center">Mystery</h2>

    <ul class="list-unstyled mt-10">
      <li class="puzzle">
        <h4>Wasgij Express</h4>

        <a href="http://www.wasgij.co.uk/collections/mystery/mystery-1">
          <img src="http://www.wasgij.com/images/uploads/puzzles/1_Wasgij_Express.jpg" />
        </a>
        <span class="number text-center">01</span>
      </li>
    </ul>
  </div>

  <div class="col-xs-6 mt-10">
    <h2 class="text-center">Destiny</h2>

    <ul class="list-unstyled">
      <li class="puzzle">
        <h4>Market Mayhem</h4>

        <a href="http://www.wasgij.co.uk/collections/destiny/market-mayhem">
          <img src="http://www.wasgij.com/images/uploads/puzzles/12_Market_Mayhem.jpg" />
        </a>
        <span class="number text-center">12</span>
      </li>
    </ul>
  </div>

</div>
{% endblock content %}
