{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>Wasgijs</h1>

    <p>
      I love me a good jigsaw and Wasgijs are far and away my favourite style.
      Below are listed the Wasjigs I've done so far:
    </p>
  </div>
</div>

{% for collection, puzzles in WASGIJS.items() %}
<div>
  <h2 class="mb-10">{{ collection }}</h2>

  <div class="row">

    {% for puzzle in puzzles %}
    <div class="col-xs-4 mt-10">

      <ul class="list-unstyled mt-10">
        <li class="puzzle">
          <h4>{{ puzzle.name }}</h4>

          <a href="{{ puzzle.link }}">
            <img src="{{ puzzle.image }}" />
          </a>
          <span class="number text-center">{{ puzzle.number }}</span>
        </li>
      </ul>
    </div>
    {% endfor %}

  </div>

  <hr style="border:2px solid #eee" />

</div>
{% endfor %}

{% endblock content %}
