---
layout: default
body_id: home
front_page: true
---
{% for post in site.posts limit:5 %}
<div class="post">
    <h1><a href="{{ post.url }}/" title="{{ post.title }}">{{ post.title }}</a></h1>
    <div class="info">
        <p>Posted on: {{ post.date | date: '%b %d %Y' }}</p>
        <ul class="post_tags">
            <li>Tagged as: </li>
            {% for tag in post.categories %}
                <li><a href="/category/{{ tag }}">{{ tag | capitalize }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {{ post.content }}
</div>

<div class="separator"></div>

{% endfor %}