---
layout: portfolio
title: Portfolio
---
.project
  %h2
    %a{:href=>"http://github.com/ghickman/tvrenamr", :title=>"Tv Renamr"} Tv Renamr
  %img{:src=>"/images/posts/portfolio/tvrenamr.png", :alt=>"Tv Renamr", :width=>"400px", :class=>"right"}
  %p Currently only a command line API and script, Tv Renamr is a utility to rename television episode files into a user  desired format, such as: "Show - 000 - Foo Bar". Written in Python Tv Renamr is an open source project and is available on the social hosting website <a href="http://github.com/ghickman/tvrenamr" title="github">github</a> under the MIT license. The 1.0 API is currently stable but has a list of known issues, which has prompted me to address the project in a different manner, thus the project is being rebuilt from the ground up.

  %h4 2.0
  %p Many of the core methods will remain in this version but the user interface is being extended from the command line to include a YAML config file to allow a user to set Tv Renamr to run in the background as a daemon and watch a folder for new files.
  .clr


.project
  %h2
    %a{:href=>"http://ghickman.co.uk", :title=>"GHickman.co.uk"} GHickman.co.uk
  %img{:src=>"/images/posts/portfolio/ghickman.png", :alt=>"GHickman.co.uk", :title=>"GHickman", :width=>"400px", :class=>"left"}
  %p Built using a modified version of the <a href="http://github.com//jekyll" title="Jekyll by ">Jekyll</a> project from <a href="http://github.com/richguk/jekyll" title="Jekyll from Richard Grundy">Richard Grundy</a>, this is my personal blog site. As a developer I didn't need something as extensive as a fully fledged application, such as <a href="http://wordpress.org" title="Wordpress">Wordpress</a>, so it suited me perfectly to use a static site generator.
  
  %p Posts are written in markdown where html can also be use while the layouts are written in Ruby's popular markup <a href="http://haml-lang.com" title="Haml Language">Haml</a>. Jekyll processes the whole lot into the glorious plain HTML files you're viewing right now (how meta is that?!)!
  
  %p The advantages of this system are multitude for me. I can write posts in markdown, allowing me to do away with any sort of backend for writing the posts and yet have more control over the HTML that gets created. I don't have to worry about the resources on my VPS since the site is being served as HTML files and should I ever get hit by the <a href="http://reddit.com" title="Reddit">Reddit</a> / <a href="http://digg.com" title="Digg">Digg</a> / <a href="http://slashdot.com" title="Slashdot">Slashdot</a> effect, there is a slim hope the box won't implode from the pain! Migrating the site to another machine couldn't be easier with no database and is as easy as copying the folder. Yet the greatest bonus has to be the ability to run a development version on my local machine in parallel to the production server so testing a new post can be done locally and pushed to production using <a href="http://git-scm.org" title="Git - Distributed Version Control">Git</a>.
  .clr


.project
  %h2
    %a{:href=>"http://floodbag.co.uk", :title=>"Floodbag.co.uk"} Floodbag.co.uk
  %img{:src=>"/images/posts/portfolio/floodbag.png", :alt=>"Floodbag.co.uk", :title=>"Floodbag", :width=>"400px", :class=>"right"}
  %p Built using the PHP framework <a href="" title="Joomla!">Joomla!</a>, Floodbag showcases the range of products available under the Floodbag name allowing visitors to see the various technical specifications along with a small marketing blurb and graphic. The site's layout was created by another contractor, but I created the markup and styling in Joomla!'s templating system.

  %p After finished the site I trained Mangar International’s marketing team to update the content and the IT team to maintain the website.

  %p Hosting was provided by Mangar International from GoDaddy where I configured DNS and tested the site before it's final release into the wild.
  .clr


.project
  %h2
    %a{:href=>"http://penderry.com", :title=>"Penderry.com"} Penderry.com
  %img{:src=>"/images/posts/portfolio/penderry.jpg", :alt=>"Penderry.com", :title=>"Penderry", :width=>"400px", :class=>"left"}
  %p Penderry.com is a small website written in the PHP framework CakePHP 1.2. Providing a simple view of what Penderry Farm in Pembrokeshire has to offer, Penderry.com also provides an easy way for any potential visitors to contact the owners. Essentially a content management system there is a small admin section using the advanced <a href="http://tinymce.moxiecode.com/" title="TinyMCE">TinyMCE</a> layout as the editor. A Flickr account is tied into the editor to provide a list of images that the user can embed in a page.
  .clr


.project
  %h2
    %a{:href=>"/trackr.html", :title=>"Trackr"} Trackr
  %img{:src=>"/images/posts/portfolio/trackr.jpg", :alt=>"Trackr", :title=>"Trackr", :width=>"400px", :class=>"right"}
  %p Trackr is a bug and defect tracking system that I built for my university dissertation entitled: <strong>Building a Ticketing Application using Web Frameworks</strong>. It was designed to overcome some of the short comings I saw in the workflow of the support team I was part of at a previous job.
  
  %p The system is based around the philosophy that support tickets are open and available to all the relevant parties and people involved in the process thus decentralising the relevant information.